<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Express App Training</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <form>
        <label>Name</label>
        <input type="text" name="name">
        <br>
        <label>Age</label>
        <input type="text" name="age">
    </form>
    <ul>
        <% users.forEach(function(users){ %>
        <li><%= users.name %> <%= users.age %></li>
    <% }) %>
    </ul>
</body>

</html>